* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body,
html {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  font-family: "Exo", sans-serif;
  color: white;
}
a {
  text-decoration: none;
  color: currentColor;
}
.left-side {
  box-sizing: border-box;
  /* padding: top right bottom left */
  padding: 100px 150px 100px 100px;
  width: 50%;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-side {
  margin-left: 50%;
  width: 50%;
  overflow-y: auto;
  height: 100%;

  box-sizing: border-box;
  /* padding: top right bottom left */
  padding: 100px 100px 100px 25px;
  justify-self: center;
  align-self: center;
}

h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 50px;
}
h3 {
  line-height: 40px;
}

.container {
  display: flex;
  height: 100vh;
}
ul.horizontal-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul.horizontal-list li {
  margin-right: 20px;
}
ul.horizontal-list li a svg:hover {
  fill: rgba(255, 255, 255, 1);
}
p {
  color: rgba(255, 255, 255, 0.7);
}
p strong {
  color: rgba(255, 255, 255, 1);
}
p strong a {
  transition: 0.3s ease;
}
p strong a:hover {
  color: rgb(179, 255, 242);
}
.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;
}
.navbar li {
  margin: 5px;
}
.navbar a .horizontal-line {
  display: flex;
  height: 1.3px;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.7); /* Set the color of the line */
  width: 50px; /* Set the width of the line */
  margin-right: 10px; /* Space between the line and the text */
  transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar a:hover .horizontal-line,
.navbar a .horizontal-line.active {
  width: 100px;
  background-color: white;
}
.navbar a:hover,
.navbar a.active {
  color: white;
}
.navbar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
  display: flex;
  flex-direction: row;
}

.pane {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section {
  margin: 0px 0px 100px 0px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1000px) {
  /* padding: top right bottom left */
  .container {
    flex-direction: column;
  }
  .right-side {
    padding: 25px 50px 100px 50px;
    width: 100%;
    margin-left: 0%;
    height: 50%;
    overflow-y: visible;
    box-sizing: border-box;
  }
  .left-side {
    position: relative;
    padding: 100px 50px 50px 50px;
    width: 100%;
    min-height: 50%;
    box-sizing: border-box;
  }
  .navbar {
    display: none;
  }
  ul.horizontal-list {
    position: absolute;
    bottom: 0;
  }
}
